In [ ]:
import pandas as pd
import yfinance as yf

tickers = ['AAPL', 'MSFT']
historical_data = []
year = 2023
for ticker in tickers:
    stock = yf.Ticker(ticker)
    info = stock.info
    start_date = f"{year}-11-30"
    end_date = f"{year}-12-31"
    try:
        hist = stock.history(start=start_date, end=end_date)
        for index, row in hist.iterrows():
            data = {
                "company_id": info.get("uuid", ""),
                "date": index.date(),
                "ticker": ticker,
                "price": row['Close'],
                "industry": info.get("industry", "")
            }
            historical_data.append(data)
    except Exception as e:
        print(f"Error extracting data for {ticker}: {e}")
        continue

df = pd.DataFrame(historical_data)
df.head(5)

In [23]:
company = yf.Ticker(ticker)

income_statement = company.financials.T  
balance_sheet = company.balance_sheet.T  

combined_df = pd.concat([income_statement, balance_sheet], axis=1)
combined_data = pd.DataFrame({
            'year': combined_df.index,
            'ticker': ticker,
            'total_revenue': combined_df['Total Revenue'],
            'gross_profit': combined_df['Gross Profit'],
            'net_income': combined_df['Net Income'],
            'total_debt': combined_df['Total Debt']
        })
combined_data.head(5)


# income_statement = income_statement.reindex(index=income_statement.index.union(balance_sheet.index))
# balance_sheet = balance_sheet.reindex(index=income_statement.index)

# print(income_statement.head())
# print(balance_sheet.head())

,year,ticker,total_revenue,gross_profit,net_income,total_debt
2019-06-30,2019-06-30,MSFT,NaN,NaN,NaN,NaN
2020-06-30,2020-06-30,MSFT,143015000000.0,96937000000.0,44281000000.0,70998000000.0
2021-06-30,2021-06-30,MSFT,168088000000.0,115856000000.0,61271000000.0,67775000000.0
2022-06-30,2022-06-30,MSFT,198270000000.0,135620000000.0,72738000000.0,61270000000.0
2023-06-30,2023-06-30,MSFT,211915000000.0,146052000000.0,72361000000.0,59965000000.0